# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
dev.sqlite3
dev.sqlite3-journal

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Build outputs
dist/
dist-ssr/
*.local

# Editor configs and IDEs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
